@import url('https://fonts.googleapis.com/css?family=Bellota|Open+Sans&display=swap');

body {
  background-color:#04001a;
}
.App-header {
  padding-top: .25rem;
  padding-left: .25rem;
  padding-bottom: .25rem;
  max-height: 2rem;
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Bellota', cursive;
  font-size: 1.75rem;
}

.App-header .logo {
  margin-right: .35rem;
}

textarea {
  background-color: #040212;
  color: white;
  min-height: 20rem;
  min-width: 20rem;
  border: 1px solid #04001a;
  font-family: 'Open Sans', sans-serif;
}

input {
  background-color: #040212;
  color: white;
  border: 1px solid #04001a;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}
